$color_primary: #1b74e4;
$background: #f0f2f5;
$font-100: #65676b;
$font-200: #050505;
$gray-100: #f0f2f5;
$gray-200: #e4e6eb;
$gray-300: #ced0d4;
$font-size-s: 1.3rem;
$font-size-m: 1.5rem;
$font-size-l: 1.7rem;
